* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header  {
    background-color: rgb(86, 160, 245);
    height: 150px;
    background-image: url(../img/pattern.png);

}

.logo {
    width: 50%;
    margin-left: 10px;
    padding-top: 15px;
}