* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container  {
    background-color: rgb(86, 160, 245);
    height: 170px;
    background-image: url(../img/pattern.png);

}

.logo {
    width: 40%;
    margin-left: 10px;
    padding-top: 35px;
}

.title {
    font-size: 70px;
}

.info {
    color: gray;
}

#booleaner {
    color: skyblue;
}